/*CSS Variables*/
:root {
    --clr-primary: hsl(300, 43%, 22%);
    --clr-primary50: hsla(300, 43%, 22%, 0.5);
    --clr-accent: hsl(333, 80%, 67%);
    --clr-gray: hsl(300, 24%, 96%);
    --clr-gray75: hsla(300, 24%, 96%, 0.75);
    --clr-gray50: hsla(300, 24%, 96%, 0.5);
  }

  /*CSS Rest*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*General styles*/
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--clr-gray);
  }

  button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
  }
  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  body, main, .card-body, .wrapper, form, .form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  body, main {
    gap: 2rem;
  }

  body {
    background-color: #fff;
    color: var(--clr-primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 2rem 5vw;
    gap: 6rem;
  }


  .accent-btn {
    background-color: var(--clr-accent);
    color: var(--clr-gray);
    padding: 0.5em 3em;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .accent-btn:hover, .accent-btn:active {
    background-color: #fff;
    color: var(--clr-accent);
    border-color: var(--clr-accent);

  }

  .accent-btn {
    font-size: 1rem;
    padding: 0.5em 0;
    width: 6em;
    background-color: var(--clr-accent);
    color: var(--clr-gray);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }

  .accent-btn:hover, .accent-btn:active {
    background-color: #fff;
    color: var(--clr-accent);
    border-color: var(--clr-accent);

  }


  /*Header*/
  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-bar {
    background-color: var(--clr-gray75);
    padding: 0.3em 1em;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--clr-primary);
    border-radius: 20px;
  }


  header input {
    border: none;
    background-color: var(--clr-gray75);
    outline: 0;
    font: inherit;
    font-size: 1.2rem;
  }

/*index page*/
.articles-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 2rem;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--clr-primary);
  color: var(--clr-gray75);
  border-radius: 10px;
  box-shadow:0 5px 10px 0 rgba(17, 12, 46, 0.8);
  padding: 1rem;
  gap: 0.5rem;
  cursor: pointer;
}

.card-header {
  color: var(--clr-gray50);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-body {
  gap: 0.5rem;  }

.avatar {
  width: 60px;
  border-radius: 50%;
  border: #fff 2px solid;
}

/* Pagination-container */

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  align-self: center;
}

.pagination-container::after {
  content: "";
  flex: auto;
}

.page-btn {
  height: 2.5em;
  width: 2.5em;
  border-radius: 5px;
}


.page-btn:hover {
  background-color: var(--clr-primary);
  color: var(--clr-gray);
}

.page-btn.active {
  background-color: var(--clr-accent);
  color: var(--clr-gray);
}


  /*details page*/
  .wrapper {
    width: 100%;
    max-width: 80ch;
    align-self: center;

  }

  .wrapper h2 {
    color: var(--clr-primary);
  }

  .article-header {
    color: var(--clr-gray50);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: var(--clr-primary50);
    font-weight: 500;
  }

  .btn-container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .btn {
    background-color: var(--clr-accent);
    color: var(--clr-gray);
    font-size: 1.2rem;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }


  .btn:hover, .btn:active {
    transform:scale(1.04);
  }

  .article-body {
    color: var(--clr-primary);
    line-height: 2;
    font-size: 1.1rem;
    align-self: center;
  }

  .form-container {
    align-self: center;
    background-color: white;
    width: 100%;
    max-width: 800px;
    border-radius: 0.5rem;
  }

  form {
    background-color: transparent;
    width: 100%;
  }

  label {
    color: var(--clr-primary);
    font-weight: 500;
    display: block;
  }

  input[type="text"], textarea{
    font: inherit;
    color: var(--clr-primary);
    width: 100%;
    padding: 0.5em;
    border: 1px solid var(--clr-primary);
    border-radius: 4px;
    line-height: 1.5;
  }

  #content {
    resize: none;
  }

  form .accent-btn {
    align-self: end;
    font-size: 1rem;
    padding: 0.5em 1.5em;
  }

  .notification-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    background-color: #fff3cd;
    color: #856404;
    align-items: center;
    align-self: center;
    padding: 0.5em;
  }
  .notification-container.hidden {
    display: none;
  }

  .close {
    font-size: 1.5rem;
    font-weight: 600;
}

  /*media query*/
  @media (max-width: 600px) {
    h1, h2, h3 {
    font-size: 1.3rem;
    }

    header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    }


    header button {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    }

    .search-bar {
    grid-column: 1/-1;
    grid-row: 2/3;
    }

    body {
      gap: 2rem;
    }
  }

  /* CSS class for report button group */
  .button-group {
    display: flex; /* This will align children in a row */
    justify-content: space-between; /* This will put some space between the buttons */
  }








